* {
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
    font-family: helvetica;
    background-color:rgb(172, 145, 105);
    padding: 10px;
    border: solid gray 3px;
}
#young {
    text-align: center;
    font-family: helvetica;
    color: red;
    font-size: 80px;
    background-color: white;
    padding: 10px;
}
h3 {
    text-align: center;
    font-family: helvetica;
    margin-top: 20px;
}

nav > ul {
    list-style-type: none;
    text-align: center;
}
nav > ul > li {
    display: inline;
    padding:  0px 30px 0px 30px;
    margin: 0px 10px 0px 10px;
    border: solid black 2px;
    background-color: brown;

}
nav > ul > li > a {
    background-color: brown;
    color: whitesmoke;
}

section {
    margin-bottom: 40px;
    padding: 0px 10px 0px 10px;
    border: solid gray 3px;
}

footer {
    color: gray;
    font-style: italic;
    margin-top: 20px;
    border-top: solid gray 2px;
}